@media (max-width: 1920px) {
  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 7vw;
  }

  .projectsTitle {
    font-family: "Josefin Sans", sans-serif;
    color: rgba(0, 0, 255, 0.459);
    font-size: 4vw;
    padding-top: 5vw;
    padding-bottom: 4vw;
  }

  .projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vh;
  }

  .tech {
    width: 3vw;
  }

  .link {
    width: 3vw;
  }
}

@media (max-width: 1023px) {
  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 7vw;
  }

  .projectsTitle {
    font-family: "Josefin Sans", sans-serif;
    color: rgba(0, 0, 255, 0.459);
    font-size: 6vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .tech {
    width: 4vh;
  }

  .link {
    width: 4vh;
  }
}

@media (max-width: 767px) {
  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 7vw;
  }

  .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .tech {
    width: 4vh;
  }

  .link {
    width: 3vh;
  }
}

@media (max-width: 420px) {
  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 7vw;
  }

  .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .tech {
    width: 6vw;
  }

  .link {
    padding-bottom: 2vw;
    width: 5.5vw;
  }
}
