.container{
    width: 85%;
    padding-top: 20vw;
    padding-bottom: 22vw;
    margin-left: 7.5%;
}

h1{
    font-size: 3.5vw;
    font-family: 'Josefin Sans', sans-serif;
}

.color{
    color: rgba(0, 0, 255, 0.459);
}