@media (max-width: 1920px) {
  .container {
    padding-top: 35vh;
    padding-bottom: 35vh;
    margin-left: 7.5%;
  }

  h1 {
    font-size: 8vh;
    font-family: "Josefin Sans", sans-serif;
  }

  .color {
    color: rgba(0, 0, 255, 0.459);
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 30vh;
    padding-bottom: 30vh;
    margin-left: 7.5%;
  }

  h1 {
    font-size: 5vh;
    font-family: "Josefin Sans", sans-serif;
  }

  .color {
    color: rgba(0, 0, 255, 0.459);
  }
}
