@media (max-width: 1920px) {
  .container {
    background-color: rgba(0, 0, 255, 0.459);
  }

  h2 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 4vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
  }

  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 5vh;
  }

  .skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vh;
  }

  .skill {
    display: flex;
    gap: 1vh;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 4vh;
  }

  .skillName {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skillLogo {
    height: 5vh;
    width: 5vh;
  }
}

@media (max-width: 1023px) {
  .container {
    background-color: rgba(0, 0, 255, 0.459);
  }

  h2 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 6vh;
    padding-top: 7vh;
    padding-bottom: 5vh;
  }

  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 5vh;
  }

  .skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5vw;
  }

  .skill {
    display: flex;
    gap: 1vh;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 4vh;
  }

  .skillName {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skillLogo {
    height: 5vh;
    width: 5vh;
  }
}

@media (max-width: 767px) {
  .container {
    background-color: rgba(0, 0, 255, 0.459);
  }

  h2 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 6vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 5vh;
  }

  .skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  .skill {
    display: flex;
    gap: 1vh;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 4vh;
  }

  .skillName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
  }

  .skillLogo {
    height: 4vw;
    width: 4vw;
  }
}

@media (max-width: 420px) {
  .container {
    background-color: rgba(0, 0, 255, 0.459);
  }

  h2 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 9vw;
    padding-top: 9vw;
    padding-bottom: 9vw;
  }

  .insideContainer {
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 9vw;
  }

  .skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }

  .skill {
    display: flex;
    gap: 1vw;
    text-align: center;
    justify-content: flex-start;
    padding-bottom: 6vw;
  }

  .skillName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
  }

  .skillLogo {
    height: 3.5vw;
    width: 3.5vw;
  }
}
