@media(min-width: 1024px){
    .container{
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .insideContainer{
        width: 85%;
        margin-left: 7.5%;
        padding-bottom: 6vw;
    }
    
    .contactTitle{
        font-family: 'Josefin Sans', sans-serif;
        color: rgba(0, 0, 255, 0.459);
        font-size: 3.5vw;
        padding-top: 6vw;
        padding-bottom: 4vw;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    
    .label{
        font-weight: bold;
    }
    
    .input{
        margin-bottom: 1.5vw;
        height: 2vw;
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .messageInput{
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.25vw;
    }
    
    .button{
        margin-top: 1.5vw;
        font-family: 'Josefin Sans', sans-serif;
        align-items: center;
        font-size: 1vw;
        font-weight: bold;
        margin-left: 40%;
        width: 20%;
        height: 2vw;
        background-color: rgba(0, 0, 255, 0.459);
        color: white;
        border: solid white 1px;
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}

@media(max-width: 1023px){
    .container{
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .insideContainer{
        width: 85%;
        margin-left: 7.5%;
        padding-bottom: 6vw;
    }
    
    .contactTitle{
        font-family: 'Josefin Sans', sans-serif;
        color: rgba(0, 0, 255, 0.459);
        font-size: 3.5vw;
        padding-top: 6vw;
        padding-bottom: 4vw;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    
    .label{
        font-weight: bold;
    }
    
    .input{
        margin-bottom: 1.5vw;
        height: 2vw;
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .messageInput{
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.25vw;
    }
    
    .button{
        margin-top: 1.5vw;
        font-family: 'Josefin Sans', sans-serif;
        align-items: center;
        font-size: 1vw;
        font-weight: bold;
        margin-left: 40%;
        width: 20%;
        height: 2vw;
        background-color: rgba(0, 0, 255, 0.459);
        color: white;
        border: solid white 1px;
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}

@media(max-width: 767px){
    .container{
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .insideContainer{
        width: 85%;
        margin-left: 7.5%;
        padding-bottom: 6vw;
    }
    
    .contactTitle{
        font-family: 'Josefin Sans', sans-serif;
        color: rgba(0, 0, 255, 0.459);
        font-size: 3.5vw;
        padding-top: 6vw;
        padding-bottom: 4vw;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
    }
    
    .label{
        font-weight: bold;
    }
    
    .input{
        margin-bottom: 1.5vw;
        height: 2vw;
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .messageInput{
        border: solid 0.25vw rgba(0, 0, 255, 0.459);
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.25vw;
    }
    
    .button{
        margin-top: 1.5vw;
        font-family: 'Josefin Sans', sans-serif;
        align-items: center;
        font-size: 1vw;
        font-weight: bold;
        margin-left: 40%;
        width: 20%;
        height: 2vw;
        background-color: rgba(0, 0, 255, 0.459);
        color: white;
        border: solid white 1px;
        border-radius: 0.25vw;
        box-shadow: 0.5vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}