@media (max-width: 1920px) {
  .container {
    width: 100%;
    height: 7vh;
    background-color: white;
  }

  .scrollLinksMobile {
    display: none;
  }

  .scrollLinksPC{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .scrollLink {
    text-decoration: none;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4vw;
  }

  .scrollLinksInside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-left: 2vw;
  }

  .scrollLinksOutside{
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    padding-right: 2vw;
  }

  .navbarImages {
    padding: 1vw;
    height: 2vw;
    width: 2vw;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    height: 9vh;
    background-color: white;
  }

  .scrollLinksMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .scrollLinksPC{
    display: none;
  }

  .scrollLink {
    text-decoration: none;
    color: black;
  }

  .navbarImages {
    margin-top: 1.5vh;
    height: 6vh;
    width: 6vw;
  }
}